{% extends "todoapp/base.html" %}
{% block title %} Add {% endblock %}
{% block h1 %} New ToDo {% endblock %}

{% block body %}
<form action="{% url 'todoapp:add' list.id%}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Save</button>
</form>
{% endblock %}