{% extends "todoapp/base.html" %}
{% block title %} ToDo Lists {% endblock %}
{% block h1 %} My ToDo Lists: {% endblock %}

{% block body%}
<ul type="none">
    {% for list in lists %}
    <li> <a href="{% url 'todoapp:todos' list.id %}">{{list}} </a> </li>
    {% empty %}
    I don't have any lists!
    {% endfor %}
</ul>
{% endblock %}
