{% extends "todoapp/base.html" %}
{% block title %} ToDos {% endblock %}
{% block h1 %} {{list.name}} todos: {% endblock %}

{% block body%}
<form action="{% url 'todoapp:delete' list.id%}" method="post">
    {% csrf_token %}
    <ul type="none">
        {% for todo in todos %}
        <li> <input type="radio" name="todo_id" value="{{todo.id}}"> {{todo}} </li>
        {% empty %}
        I don't have anything to do!
        {% endfor %}
    </ul>
     <button type="submit">Delete</button>
</form>
<br>
<a href="{% url 'todoapp:add' list.id%}">Add ToDo</a>
<br>
<h2><a href="{% url 'todoapp:index' %}">Home</a></h2>
{% endblock %}