{% extends "cmsapp/base.html" %}
{% block title %}
    {% if page %}
        {{ page.title }} [editing]
    {% else %}
        [adding new page]
    {% endif %}
{% endblock %}
{% block body%}
    <form method="post" action="{% spaceless %}
          {% if page %}
              {% url 'cmsapp:change' page.slug %}
          {% else %}
              {% url 'cmsapp:change' %}
          {% endif %}{% endspaceless %}">
        {% csrf_token %}
        <table>{{ form.as_table }}</table>
        <button type="submit">Save</button>
    </form>
{% endblock %}