{% extends "cmsapp/base.html" %}
{% block title %} Pages {% endblock %}
{% block h1 %} Pages {% endblock %}
{% block body %}

{% include "cmsapp/includes/tags.html" %}

<ul>
    {% for page in pages %}
    <li><a href="{% url 'cmsapp:page' page.slug %}">{{page.title}}</a></li>
    {% empty %}
    No pages yet!
    {% endfor %}
</ul>

<a href="{% url 'cmsapp:change' %}">Add page</a>

{% endblock %}