{% extends "cmsapp/base.html" %}
{% block title%} {{ page.title }} {% endblock %}
{% block h1%} {{ page.title }} {% endblock %}
{% block body %}
{% include "cmsapp/includes/tags.html" %}
<a href="{% url 'cmsapp:change' page.slug %}"> {{ page.content }} </a><br>
<form action="{% url 'cmsapp:delete' page.slug %}" method="post">
    {% csrf_token %}
     <button type="submit">Delete</button>
</form>
{% endblock %}